<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TV Show Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <main id="tv-detail">
        <div class="movie-detail-header">
            <h2 id="tv-title">Loading TV show info...</h2>
            <span id="favorite-heart">🤍</span>
        </div>
        <div id="tv-info-container"></div>
    </main>

    <section id="tv-credits">
        <h3>Cast & Crew</h3>
        <div class="credits-scroll" id="tv-credits-container">
            <!-- Cast will be injected -->
        </div>
    </section>  

    <script>
        const tvId = {{ tv_id }};
    </script>
    <script src="{{ url_for('static', filename='js/tv_detail.js') }}"></script>

</body>

</html>
